@inject IViewModelService ViewModelService
@using BlueTapeCrew.Web.Services.Interfaces
@{
  var layoutModel = await ViewModelService.GetLayoutViewModel();
}
<!DOCTYPE html>
<html lang="en" ng-app="btcApp">
<head>
  <meta charset="utf-8">
  <title>@layoutModel.SiteTitle</title>
  <meta content="width=device-width, initial-scale=1.0,user-scalable=no" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="@layoutModel.Description" name="description">
  <meta content="@layoutModel.Keywords" name="keywords">
  <meta content="@layoutModel.CopyrightLinktext" name="author">
  <meta property="og:site_name" content="@layoutModel.SiteTitle">
  @RenderSection("OpenGraph", false)
  <link rel="shortcut icon" href="favicon.ico">
  @RenderSection("HeadCss", false)
  <partial name="_CssBundle" />
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
</head>
<body class="ecommerce">
  <partial name="_Header" model="@layoutModel"/>
  @RenderBody()
  <partial name="_Footer" model="@layoutModel"/>
  @RenderSection("Scripts", false)
  <div id="product-pop-up" style="display: none; width: 700px;"></div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.6.7/angular-resource.min.js"></script>
  <script src="~/app.js"></script>
</body>
</html>
