@model BlueTapeCrew.Web.ViewModels.ProductViewModel

@section OpenGraph{
  <meta property="og:title" content="@Model.Name">
  <meta property="og:description" content="@Model.Description">
  <meta property="og:type" content="product">
  <meta property="og:image" content="https://bluetapecrew.com/images/@(Model.LinkName).jpg">
  <meta property="og:url" content="https://bluetapecrew.com/products/@Model.LinkName">
}
@section HeadCss
{
  <partial name="_ProductCssBundle" />
}
<div class="main">
  <div class="container">
    <ul class="breadcrumb">
      <li><a href="~/">BlueTapeCrew</a></li>
      <li><a href="~/">Products</a></li>
      <li><a href="~/">@Model.Category</a></li>
      <li href="~/" class="active">@Model.Name</li>
    </ul>
    <div class="row margin-bottom-40">
    <partial name="_SideBar" model="@Model"/>
      <div class="col-md-9 col-xs-12" id="productWrapper">
        <div class="product-page">
          <div class="row">
            <partial name="_Images" model="@Model" />
            <partial name="_Info" model="@Model" />
            <partial name="_Reviews" model="@Model" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
@section Scripts {
  <partial name="_ProductJsBundle" />
}

